<h1>Burger App!</h1>

<div class="container-fluid">
  <div class="row" id="not-devoured">
    <div class="not-devoured col-lg-6">
      <h2>Non-Devoured Burgers</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row" id="devoured">
    <div class="devoured col-lg-6">
      <h2>Devoured Burgers!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

</div>


<div class="clear">
  <h2>Add a Burger!</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="nb">Burger Name:</label>
      <input type="text" id="nb" name="name">
    </div>
    <button type="submit">Add Burger</button>
  </form>
</div>