<h1>Burgers!</h1>

<h2>yo quiero hamburguesas</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>hamburguesas eaten</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger type:</label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Add a burger</button>
</form>
