.body, .html  {
    min-height: 100%;
    background-image: url("../public/img/backgroundburger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
}
h1,
.create-form {
    text-align: center;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
}


.toBeDevoured {
    float: left;
}

.devoured {
    float: right;
}


li {
    background: #F7C095;
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}

h1,
h2,
label {
    color: black;
}

.label {
    font-weight: bold;
}

.burger-eaten {
    background-color: #8EB56C;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;

}

.delete-burger {
    background-color:#D45C98;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

.create-update-form {
    margin: 5px;
    padding: 5px;
}

.form-group {
    margin-bottom: 5px;
}